
@{
    ViewBag.Title = "stokEkleView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Inventory_Management_Web_Application.Models 
@model YazılımUrun


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Şu anda <b>@Model.UrunAdi</b> İsimli Ürüne Stok Eklemektesiniz ...
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/YazilimUrun/stokEkle">
                    <input hidden value="@Model.ID" name="YazilimUrunID"/>
                    <div class="form-group">
                        <label>Alınan Miktarı Giriniz</label>
                        <input type="text" name="AlinanMiktar" class="form-control" placeholder="Alınan Miktarı Giriniz..." required=""/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ürünü Alan Kişiyi Seçiniz </label>
                        @Html.DropDownList("AlanPerID", (SelectList) ViewBag.personeller, "Seçiniz...", new {@class = "form-control", required = "required"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tedarikçiyi Seçiniz </label>
                        @Html.DropDownList("TedarikciID", (SelectList) ViewBag.tedarikciler, "Seçiniz...", new {@class = "form-control", required = "required"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Teslim Tarihi Giriniz </label>
                        <input type="date" class="form-control" placeholder="Birim Adı Giriniz..." name="GirisTarihi" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Açıklama Giriniz. </label>
                        <input type="text" class="form-control" placeholder="Birim Adı Giriniz..." name="Aciklama" required>
                    </div>
                    <button type="submit" class="btn btn-info">Kaydet</button>
                </form>

            </div>
        </section>
    </div>
</div>

<script src="/Content/js/jquery.js"></script>
<script src="/Content/js/jquery-1.8.3.min.js"></script>

<script>
    var id;
    var modalConfirm = function (callback) {
        $(".btn-confirm").on("click", function () {
            id = $(this).attr("data-id");
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-si").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    
</script>

