
@{
    ViewBag.Title = "TaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <div class="col-lg-12">
                <b>Teslim Alan Personel Ekle</b>
            </div>
        </header>
        <div class="panel-body">
            <form action="../Personel/TaEkle" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <label>Adı</label>&nbsp;<span style="color: red;">*</span>
                                <input name="Adi" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Soyadı</label>&nbsp;<span style="color: red;">*</span>
                                <input name="Soyadi" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Birimi</label>&nbsp;<span style="color: red;">*</span>
                                <select onchange="show_selected()" id="gkk" class="form-control m-bot15" name="Birim.ID">
                                    <option value="default">Birim Seçiniz</option>
                                    @foreach (var item in ViewBag.Birimler)
                                    {
                                        <option value="@item.ID">@item.Adi</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Telefon</label>&nbsp;<span style="color: red;">*</span>
                                <input name="Tel" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>E-Posta</label>&nbsp;<span style="color: red;">*</span>
                                <input name="Email" class="form-control" required>
                            </div>

                            <button type="submit" id="button" class="btn btn-info">Kaydet</button>
                            <a href="../Personel/TaListele" class="btn btn-danger">İptal</a>
                            <button type="reset" class="btn btn-default">Temizle</button>
                        </div>
                    </div>
                </div>

                
            </form>
        </div>
    </section>
</div>

@section script{
    <script type="text/javascript">
        function show_selected(){
            "use strict";
            var selector = document.getElementById('gkk');
            var valuea = selector[selector.selectedIndex].value;

            if (valuea == 'default') {
                $('#button').removeClass('btn btn-info');
                $('#button').addClass('btn btn-info disabled');
                document.getElementById('button').disabled = true;
            }
            else {
                $('#button').removeClass('btn btn-info disabled');
                $('#button').addClass('btn btn-info');
                document.getElementById('button').disabled = false;
            }
        };
        window.onload = show_selected();
    </script>
}
