<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Ürün Raporu<br />
                <span style="color:red;font-size:11px;">*  Aşağıdaki alanlar 've' koşulu ile çalışır.</span>
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/Rapor/Urun" target="_blank">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Kategori Seçiniz </label>
                        @Html.DropDownList("KategoriID", (SelectList)ViewBag.anakategoriler, "Seçiniz...", new { @class = "form-control", id = "ana" })
                    </div>

                    <div class="form-group alt">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Stok Miktarı (Küçük olanları Getirir.)</label>
                        <input type="number" class="form-control" placeholder="Stok Giriniz..." name="StokMiktari">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ürün Tipi Seçiniz </label>
                        @Html.DropDownList("UrunTipID", (SelectList)ViewBag.uruntipler, "Seçiniz...", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Eklenme Tarihi (Seçilen tarihten sonra eklenen ürünleri getirir.) </label>
                        <input type="date" class="form-control" placeholder="Eklenme Tarihi Giriniz..." name="EklenmeTarihi">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ekleyen Kişiyi Seçiniz </label>
                        @Html.DropDownList("PersonelID", (SelectList)ViewBag.personeller, "Seçiniz...", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tedarikçi Seçiniz </label>
                        @Html.DropDownList("TedarikciID", (SelectList)ViewBag.tedarikciler, "Seçiniz...", new { @class = "form-control" })
                    </div>
                    <button style="float:right;" type="submit" class="btn btn-info">Rapor Çıkar</button>
                </form>

            </div>
        </section>
    </div>
</div>



@section script{
    <script>
           var id;
           $("#ana").change(function () {
               id = this.value;
               $.ajax({
                   url: '/Urun/altKategoriDropdown/' + id,
                   type: 'GET',
                   cache: false,
                   success: function (data) {
                       $('.alt').html(data);
                   },
                   error: function () {
                       $('.alt').html("");
                   }
               });
           });
    </script>
}