<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Ürün Raporu<br />
                           <span style="color:red;font-size:11px;">*  Aşağıdaki alanlar 've' koşulu ile çalışır.</span>
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/Rapor/Urun">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Kategori Seçiniz </label>
                        <input type="text" class="form-control" placeholder="Profil Adı Giriniz..." name="RolAdi" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Stok Miktarı (Küçük olanları Getirir)</label>
                        <input type="text" class="form-control" placeholder="Profil Açıklama Giriniz..." name="Aciklama" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Eklenme Tarihi </label>
                        <input type="text" class="form-control" placeholder="Profil Açıklama Giriniz..." name="Aciklama" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ekleyen Personel </label>
                        <input type="text" class="form-control" placeholder="Profil Açıklama Giriniz..." name="Aciklama" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tedarikci </label>
                        <input type="text" class="form-control" placeholder="Profil Açıklama Giriniz..." name="Aciklama" required="">
                    </div>
                    <button style="float:right;" type="submit" class="btn btn-info">Rapor Çıkar</button>
                </form>

            </div>
        </section>
    </div>
</div>