@section head{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Yazılım Ürün Raporu<br />
                <span style="color:red;font-size:11px;">*  Aşağıdaki alanlar 've' koşulu ile çalışır.</span>
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/Rapor/YazilimUrun" target="_blank">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Kategori Seçiniz </label>
                        @Html.DropDownList("KategoriID", (SelectList)ViewBag.anakategoriler, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true", id = "ana" })
                    </div>

                    <div class="form-group alt">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Key Adedi Miktarı (Küçük olanları Getirir.)</label>
                        <input type="number" class="form-control" placeholder="Stok Giriniz..." name="KeyAdet">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Eklenme Tarihi (Seçilen tarihten sonra eklenen ürünleri getirir.) </label>
                        <input type="date" class="form-control" placeholder="Eklenme Tarihi Giriniz..." name="EklenmeTarihi">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Lisans Başlangıç Tarihi (Seçilen tarihten sonra) </label>
                        <input type="date" class="form-control" placeholder="Eklenme Tarihi Giriniz..." name="LisansBaslangicTarihi">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Lisans Bitiş Tarihi (Seçilen tarihten sonra) </label>
                        <input type="date" class="form-control" placeholder="Eklenme Tarihi Giriniz..." name="LisansBitisTarihi">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ekleyen Kişiyi Seçiniz </label>
                        @Html.DropDownList("PersonelID", (SelectList)ViewBag.personeller, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tedarikçi Seçiniz </label>
                        @Html.DropDownList("TedarikciID", (SelectList)ViewBag.tedarikciler, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true"})
                    </div>
                    <button style="float:right;" type="submit" class="btn btn-info">Rapor Çıkar</button>
                </form>

            </div>
        </section>
    </div>
</div>



@section script{
    <script>
           var id;
           $("#ana").change(function () {
               id = this.value;
               $.ajax({
                   url: '/Urun/altKategoriDropdown/' + id,
                   type: 'GET',
                   cache: false,
                   success: function (data) {
                       $('.alt').html(data);
                   },
                   error: function () {
                       $('.alt').html("");
                   }
               });
           });
    </script>
}