
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="yazar">
    <link rel="shortcut icon" href="/Content/img/favicon.png">
    <title>Düzce Üniversitesi</title>
    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/css/style-responsive.css" rel="stylesheet" />
</head>
<body class="login-body">
    <div class="container">
        <form class="form-signin" method="post" action="/Kullanici/Login">
            <h2 class="form-signin-heading">BI STOK</h2>
            <div class="login-wrap">
                @if (ViewBag.Hata != null)
                {
                    <div class="alert-danger" style="padding:5px; border-radius:5px;text-align:center;">
                        <b>@ViewBag.Hata</b>
                    </div>
                }
                    <img src="~/Content/img/logo.png" style="margin-left: 32%;margin-bottom: 20px; margin-top: 5px;"/>
                <input name="mail" type="text" class="form-control" placeholder="Mail" autofocus required>
                <input name="sifre" type="password" class="form-control" placeholder="Şifre" required>
                <button type="submit" class="btn btn-success btn-lg btn-block">Giriş Yap</button>
            </div>
        </form>
    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/Content/js/jquery.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
</body>
</html>