USE [StokTakipDB]
GO
/****** Object:  Table [dbo].[AltKategori]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltKategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[AnaKategorID] [int] NULL,
 CONSTRAINT [PK_AltKategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AnaKategori]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnaKategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArizaDurum]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArizaDurum](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VerilisTarihi] [datetime] NULL,
	[TahminiGelisTarihi] [datetime] NULL,
	[GarantiFirma] [nvarchar](100) NULL,
	[KargoNo] [nvarchar](100) NULL,
	[GarantiVerenKisiID] [int] NULL,
	[Aktif] [bit] NULL,
	[stkID] [int] NULL,
 CONSTRAINT [PK_ArizaDurum] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArizaEskiKayitlar]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArizaEskiKayitlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ArizaDurumID] [int] NULL,
	[GarantiAlanID] [int] NULL,
	[StokEklenmeTarihi] [datetime] NULL,
 CONSTRAINT [PK_ArizaEskiKayitlar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ayarlar]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ayarlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YazilimUrun] [int] NULL,
	[UrunStok] [int] NULL,
	[YazilimUrunStok] [int] NULL,
	[mailUserName] [nvarchar](100) NULL,
	[mailPassword] [nvarchar](100) NULL,
	[mailHost] [nvarchar](100) NULL,
	[mailSSL] [int] NULL,
	[mailPort] [int] NULL,
 CONSTRAINT [PK_Ayarlar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Birim]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NULL,
 CONSTRAINT [PK_Birim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ErisimRol]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErisimRol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RolID] [int] NULL,
	[ErisimID] [int] NULL,
 CONSTRAINT [PK_ErisimRol] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IslemErisim]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemErisim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adı] [nvarchar](100) NULL,
	[Controller] [nvarchar](100) NULL,
	[Action] [nvarchar](100) NULL,
 CONSTRAINT [PK_IslemErisim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KategoriRol]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KategoriRol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RolID] [int] NULL,
	[KategoriID] [int] NULL,
 CONSTRAINT [PK_KategoriRol] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NULL,
	[Icon] [nvarchar](100) NULL,
	[ParentMenuID] [int] NULL,
	[Controller] [nvarchar](50) NULL,
	[Action] [nvarchar](50) NULL,
	[AcilirMenu] [bit] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuRol]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RolID] [int] NULL,
	[MenuID] [int] NULL,
 CONSTRAINT [PK_MenuRol] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personel]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NULL,
	[Soyadi] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Sifre] [nvarchar](100) NULL,
	[Tel] [nvarchar](100) NULL,
	[RolID] [int] NULL,
 CONSTRAINT [PK_Personel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rol]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](500) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tedarikci]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedarikci](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirmaAdi] [nvarchar](100) NULL,
	[FirmaTel] [nvarchar](20) NULL,
	[FirmaAdres] [nvarchar](500) NULL,
	[FirmaMail] [nvarchar](100) NULL,
	[YetkiliAdi] [nvarchar](100) NULL,
	[YetkiliSoyadi] [nvarchar](100) NULL,
	[YetkiliUnvani] [nvarchar](100) NULL,
	[YetkiliTel] [nvarchar](20) NULL,
	[YetkiliMail] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tedarikci] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeslimAlanPersonel]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeslimAlanPersonel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NULL,
	[Soyadi] [nvarchar](100) NULL,
	[TeslimBirimID] [int] NULL,
	[Tel] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_TeslimAlanPersonel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Urun]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunKodu] [nvarchar](50) NULL,
	[UrunAdi] [nvarchar](100) NULL,
	[altKategoriID] [int] NULL,
	[Aciklama] [nvarchar](500) NULL,
	[UrunBirimID] [int] NULL,
	[EklenmeTarihi] [date] NULL,
	[PersonelID] [int] NULL,
	[TedarikciID] [int] NULL,
	[Aktif] [bit] NULL,
	[SilenKisiID] [int] NULL,
	[SilmeTarihi] [date] NULL,
	[SilmeNedeni] [nvarchar](500) NULL,
	[UrunTipID] [int] NULL,
 CONSTRAINT [PK_Urun] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UrunBirim]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunBirim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NULL,
 CONSTRAINT [PK_UrunBirim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UrunCikis]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunCikis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeslimAlanKisiID] [int] NULL,
	[TeslimTarihi] [datetime] NULL,
	[TeslimVerenID] [int] NULL,
	[Aciklama] [nvarchar](500) NULL,
	[YazilimUrunID] [int] NULL,
	[CikisNumarasi] [int] NULL,
	[StokID] [int] NULL,
 CONSTRAINT [PK_UrunCikis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UrunGiris]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunGiris](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AlinanMiktar] [int] NULL,
	[KalanMiktar] [int] NULL,
	[AlanPerID] [int] NULL,
	[Aciklama] [nvarchar](500) NULL,
	[TedarikciID] [int] NULL,
	[YazilimUrunID] [int] NULL,
	[GirisTarihi] [date] NULL,
	[StokID] [int] NULL,
 CONSTRAINT [PK_UrunGiris] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UrunStok]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunStok](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[UrunSeriNo] [nvarchar](100) NULL,
	[Aktif] [bit] NULL,
 CONSTRAINT [PK_UrunStok] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UrunTip]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunTip](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](500) NULL,
 CONSTRAINT [PK_UrunTip] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YazilimUrun]    Script Date: 9.01.2019 16:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YazilimUrun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [nvarchar](100) NULL,
	[UrunAdi] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[LisansBaslangicTarihi] [datetime] NULL,
	[LisansBitisTarihi] [datetime] NULL,
	[KeyAdet] [int] NULL,
	[UrunSeriNo] [nvarchar](100) NULL,
	[LisansUyari] [nvarchar](100) NULL,
	[altKategoriID] [int] NULL,
	[EklenmeTarihi] [date] NULL,
	[PersonelID] [int] NULL,
	[TedarikciID] [int] NULL,
	[Aktif] [bit] NULL,
	[SilenKisiID] [int] NULL,
	[SilmeTarihi] [date] NULL,
	[SilmeNedeni] [nvarchar](500) NULL,
 CONSTRAINT [PK_YazılımUrun] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AltKategori] ON 

INSERT [dbo].[AltKategori] ([ID], [KategoriAdi], [Aciklama], [AnaKategorID]) VALUES (3, N'Savaş Oyunları', N'En güzel Savaş Oyunlar', 6)
INSERT [dbo].[AltKategori] ([ID], [KategoriAdi], [Aciklama], [AnaKategorID]) VALUES (4, N'Masalar', N'En güzel masalar', 3)
INSERT [dbo].[AltKategori] ([ID], [KategoriAdi], [Aciklama], [AnaKategorID]) VALUES (5, N'Çocuk Oyunları', N'En güzel Oyunlar', 6)
SET IDENTITY_INSERT [dbo].[AltKategori] OFF
SET IDENTITY_INSERT [dbo].[AnaKategori] ON 

INSERT [dbo].[AnaKategori] ([ID], [KategoriAdi], [Aciklama]) VALUES (1, N'Donanım', N'Bilgisayar Parçaları')
INSERT [dbo].[AnaKategori] ([ID], [KategoriAdi], [Aciklama]) VALUES (3, N'Ofis', N'Ofis Malzemeleri ve kırtasiye ürünleri')
INSERT [dbo].[AnaKategori] ([ID], [KategoriAdi], [Aciklama]) VALUES (6, N'Oyun', N'En güzel Oyunlar')
SET IDENTITY_INSERT [dbo].[AnaKategori] OFF
SET IDENTITY_INSERT [dbo].[ArizaDurum] ON 

INSERT [dbo].[ArizaDurum] ([ID], [VerilisTarihi], [TahminiGelisTarihi], [GarantiFirma], [KargoNo], [GarantiVerenKisiID], [Aktif], [stkID]) VALUES (11, CAST(N'2019-01-25 00:00:00.000' AS DateTime), CAST(N'2019-01-06 00:00:00.000' AS DateTime), N'Beykozlar İnşaat', N'137643453645', 2, 0, 1012)
INSERT [dbo].[ArizaDurum] ([ID], [VerilisTarihi], [TahminiGelisTarihi], [GarantiFirma], [KargoNo], [GarantiVerenKisiID], [Aktif], [stkID]) VALUES (12, CAST(N'2019-01-22 00:00:00.000' AS DateTime), CAST(N'2019-01-07 00:00:00.000' AS DateTime), N'Telekom A.Ş.', N'155698562365', 2, 1, 1007)
INSERT [dbo].[ArizaDurum] ([ID], [VerilisTarihi], [TahminiGelisTarihi], [GarantiFirma], [KargoNo], [GarantiVerenKisiID], [Aktif], [stkID]) VALUES (13, CAST(N'2019-01-18 00:00:00.000' AS DateTime), CAST(N'2019-01-25 00:00:00.000' AS DateTime), N'Beykozlar İnşaat', N'155698562365', 2, 0, 1009)
SET IDENTITY_INSERT [dbo].[ArizaDurum] OFF
SET IDENTITY_INSERT [dbo].[ArizaEskiKayitlar] ON 

INSERT [dbo].[ArizaEskiKayitlar] ([ID], [ArizaDurumID], [GarantiAlanID], [StokEklenmeTarihi]) VALUES (11, 11, 2, CAST(N'2019-01-07 18:47:51.980' AS DateTime))
INSERT [dbo].[ArizaEskiKayitlar] ([ID], [ArizaDurumID], [GarantiAlanID], [StokEklenmeTarihi]) VALUES (12, 13, 2, CAST(N'2019-01-07 18:55:31.263' AS DateTime))
SET IDENTITY_INSERT [dbo].[ArizaEskiKayitlar] OFF
SET IDENTITY_INSERT [dbo].[Ayarlar] ON 

INSERT [dbo].[Ayarlar] ([ID], [YazilimUrun], [UrunStok], [YazilimUrunStok], [mailUserName], [mailPassword], [mailHost], [mailSSL], [mailPort]) VALUES (1, 15, 5, 10, N'hamza.tas610@gmail.com', N'b.1411230131b', N'smtp.gmail.com', 1, 25)
SET IDENTITY_INSERT [dbo].[Ayarlar] OFF
SET IDENTITY_INSERT [dbo].[Birim] ON 

INSERT [dbo].[Birim] ([ID], [Adi]) VALUES (8, N'Eğitim Fakültesi')
INSERT [dbo].[Birim] ([ID], [Adi]) VALUES (11, N'Teknoloji Fakültesi')
INSERT [dbo].[Birim] ([ID], [Adi]) VALUES (12, N'Fen-Edebiyat Fakültesi')
SET IDENTITY_INSERT [dbo].[Birim] OFF
SET IDENTITY_INSERT [dbo].[ErisimRol] ON 

INSERT [dbo].[ErisimRol] ([ID], [RolID], [ErisimID]) VALUES (158, 1, 56)
INSERT [dbo].[ErisimRol] ([ID], [RolID], [ErisimID]) VALUES (159, 1, 55)
INSERT [dbo].[ErisimRol] ([ID], [RolID], [ErisimID]) VALUES (160, 1, 54)
SET IDENTITY_INSERT [dbo].[ErisimRol] OFF
SET IDENTITY_INSERT [dbo].[IslemErisim] ON 

INSERT [dbo].[IslemErisim] ([ID], [Adı], [Controller], [Action]) VALUES (13, N'Ayarlar Güncelleme', N'Admin', N'Ayarlar')
INSERT [dbo].[IslemErisim] ([ID], [Adı], [Controller], [Action]) VALUES (14, N'Ana Kategori Tanımı', N'Kategori', N'AnaKategoriTanimi')
INSERT [dbo].[IslemErisim] ([ID], [Adı], [Controller], [Action]) VALUES (15, N'Ana Kategori Silme', N'Kategori', N'AnaKategoriSil')
SET IDENTITY_INSERT [dbo].[IslemErisim] OFF
SET IDENTITY_INSERT [dbo].[KategoriRol] ON 

INSERT [dbo].[KategoriRol] ([ID], [RolID], [KategoriID]) VALUES (89, 1, 15)
INSERT [dbo].[KategoriRol] ([ID], [RolID], [KategoriID]) VALUES (90, 1, 14)
INSERT [dbo].[KategoriRol] ([ID], [RolID], [KategoriID]) VALUES (91, 1, 11)
SET IDENTITY_INSERT [dbo].[KategoriRol] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Adi], [Icon], [ParentMenuID], [Controller], [Action], [AcilirMenu]) VALUES (1, N'Kullanıcı İşlemleri', N'icon-group', NULL, NULL, NULL, 1)
INSERT [dbo].[Menu] ([ID], [Adi], [Icon], [ParentMenuID], [Controller], [Action], [AcilirMenu]) VALUES (2, N'Profil Tanımı/Listesi', NULL, 1, N'Kullanici', N'ProfilListesi', 0)
INSERT [dbo].[Menu] ([ID], [Adi], [Icon], [ParentMenuID], [Controller], [Action], [AcilirMenu]) VALUES (3, N'Kullanıcı Listesi', NULL, 1, N'Kullanici', N'Listesi', 0)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[MenuRol] ON 

INSERT [dbo].[MenuRol] ([ID], [RolID], [MenuID]) VALUES (97, 3, 1)
INSERT [dbo].[MenuRol] ([ID], [RolID], [MenuID]) VALUES (98, 3, 2)
INSERT [dbo].[MenuRol] ([ID], [RolID], [MenuID]) VALUES (99, 3, 35)
SET IDENTITY_INSERT [dbo].[MenuRol] OFF
SET IDENTITY_INSERT [dbo].[Personel] ON 

INSERT [dbo].[Personel] ([ID], [Adi], [Soyadi], [Email], [Sifre], [Tel], [RolID]) VALUES (2, N'Hamza', N'TAŞ', N'hamza.tas610@gmail.com', N'123', N'05346682748', 1)
INSERT [dbo].[Personel] ([ID], [Adi], [Soyadi], [Email], [Sifre], [Tel], [RolID]) VALUES (3, N'Erdi', N'Yalçın', N'erdiyalcin@duzce.edu.tr', N'123', N'05346682748', 1)
INSERT [dbo].[Personel] ([ID], [Adi], [Soyadi], [Email], [Sifre], [Tel], [RolID]) VALUES (4, N'Mahmut', N'Uçar', N'mahmut.ucar@gmail.com', N'123', N'05349635415', 4)
SET IDENTITY_INSERT [dbo].[Personel] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([ID], [RolAdi], [Aciklama]) VALUES (1, N'Admin', N'Tüm Yetkileri Açık')
INSERT [dbo].[Rol] ([ID], [RolAdi], [Aciklama]) VALUES (2, N'Teknisyen', N'Yalnızca Garanti işlemleri')
INSERT [dbo].[Rol] ([ID], [RolAdi], [Aciklama]) VALUES (3, N'LDAP', N'LDAP ile giriş yapanlar')
SET IDENTITY_INSERT [dbo].[Rol] OFF
SET IDENTITY_INSERT [dbo].[Tedarikci] ON 

INSERT [dbo].[Tedarikci] ([ID], [FirmaAdi], [FirmaTel], [FirmaAdres], [FirmaMail], [YetkiliAdi], [YetkiliSoyadi], [YetkiliUnvani], [YetkiliTel], [YetkiliMail]) VALUES (1, N'Eker', N'0300000000', N'fevzi çakmak mah. 13.sok. no:15', N'eker@eker.com', N'Mehmet', N'Eker', N'Firma Sahibi', N'05596987895', N'mehmeteker@eker.com')
INSERT [dbo].[Tedarikci] ([ID], [FirmaAdi], [FirmaTel], [FirmaAdres], [FirmaMail], [YetkiliAdi], [YetkiliSoyadi], [YetkiliUnvani], [YetkiliTel], [YetkiliMail]) VALUES (2, N'Yavuzlar Ticaret', N'03804123258', N'Düzce merkez', N'yavuzlar@gmail.com', N'Yavuz', N'lar', N'Patron', N'05489633215', N'yuvuzlarr@gmail.com')
SET IDENTITY_INSERT [dbo].[Tedarikci] OFF
SET IDENTITY_INSERT [dbo].[TeslimAlanPersonel] ON 

INSERT [dbo].[TeslimAlanPersonel] ([ID], [Adi], [Soyadi], [TeslimBirimID], [Tel], [Email]) VALUES (1, N'Abdullah', N'Küçüker', 11, N'05349635415', N'abdullah.kucuker@gmail.com')
INSERT [dbo].[TeslimAlanPersonel] ([ID], [Adi], [Soyadi], [TeslimBirimID], [Tel], [Email]) VALUES (2, N'Fatih', N'Kayaalp', 17, N'05349635415', N'erdiyalcin@duzce.edu.tr')
INSERT [dbo].[TeslimAlanPersonel] ([ID], [Adi], [Soyadi], [TeslimBirimID], [Tel], [Email]) VALUES (3, N'Cumali', N'Cuma', 11, N'05346682748', N'cumali@cuma.com')
SET IDENTITY_INSERT [dbo].[TeslimAlanPersonel] OFF
SET IDENTITY_INSERT [dbo].[Urun] ON 

INSERT [dbo].[Urun] ([ID], [UrunKodu], [UrunAdi], [altKategoriID], [Aciklama], [UrunBirimID], [EklenmeTarihi], [PersonelID], [TedarikciID], [Aktif], [SilenKisiID], [SilmeTarihi], [SilmeNedeni], [UrunTipID]) VALUES (23, N'BISTK201861', N'Casper v210', 6, N'Güzel Kasa', 5, CAST(N'2018-12-28' AS Date), 2, 1, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Urun] ([ID], [UrunKodu], [UrunAdi], [altKategoriID], [Aciklama], [UrunBirimID], [EklenmeTarihi], [PersonelID], [TedarikciID], [Aktif], [SilenKisiID], [SilmeTarihi], [SilmeNedeni], [UrunTipID]) VALUES (24, N'BISTK20181524', N'Domestos Büyük Boy', 15, N'Kir ve pasa birebir', 5, CAST(N'2018-12-28' AS Date), 2, 2, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Urun] ([ID], [UrunKodu], [UrunAdi], [altKategoriID], [Aciklama], [UrunBirimID], [EklenmeTarihi], [PersonelID], [TedarikciID], [Aktif], [SilenKisiID], [SilmeTarihi], [SilmeNedeni], [UrunTipID]) VALUES (25, N'BISTK20181525', N'Domestos Büyük Boy', 15, N'Kir ve pasa birebir', 5, CAST(N'2018-12-28' AS Date), 2, 2, 0, 2, CAST(N'2018-12-28' AS Date), N'Yanlışlıkla 2 kere ekledik', NULL)
SET IDENTITY_INSERT [dbo].[Urun] OFF
SET IDENTITY_INSERT [dbo].[UrunBirim] ON 

INSERT [dbo].[UrunBirim] ([ID], [Adi]) VALUES (5, N'Adet')
INSERT [dbo].[UrunBirim] ([ID], [Adi]) VALUES (6, N'Kg')
INSERT [dbo].[UrunBirim] ([ID], [Adi]) VALUES (7, N'Metre')
SET IDENTITY_INSERT [dbo].[UrunBirim] OFF
SET IDENTITY_INSERT [dbo].[UrunCikis] ON 

INSERT [dbo].[UrunCikis] ([ID], [TeslimAlanKisiID], [TeslimTarihi], [TeslimVerenID], [Aciklama], [YazilimUrunID], [CikisNumarasi], [StokID]) VALUES (25, 4, CAST(N'2019-01-07 00:00:00.000' AS DateTime), 2, N'Yazılım Ürünleri', NULL, 3020, 6)
INSERT [dbo].[UrunCikis] ([ID], [TeslimAlanKisiID], [TeslimTarihi], [TeslimVerenID], [Aciklama], [YazilimUrunID], [CikisNumarasi], [StokID]) VALUES (26, 4, CAST(N'2019-01-07 00:00:00.000' AS DateTime), 2, N'Yazılım Ürünleri', NULL, 3020, 4)
INSERT [dbo].[UrunCikis] ([ID], [TeslimAlanKisiID], [TeslimTarihi], [TeslimVerenID], [Aciklama], [YazilimUrunID], [CikisNumarasi], [StokID]) VALUES (27, 3, CAST(N'2019-01-24 00:00:00.000' AS DateTime), 2, N'Ofis Malzemeleri', NULL, 3046, 5)
SET IDENTITY_INSERT [dbo].[UrunCikis] OFF
SET IDENTITY_INSERT [dbo].[UrunGiris] ON 

INSERT [dbo].[UrunGiris] ([ID], [AlinanMiktar], [KalanMiktar], [AlanPerID], [Aciklama], [TedarikciID], [YazilimUrunID], [GirisTarihi], [StokID]) VALUES (28, NULL, NULL, 2, N'Temizlik Malzemeleri', 1, NULL, CAST(N'2019-01-06' AS Date), 3)
INSERT [dbo].[UrunGiris] ([ID], [AlinanMiktar], [KalanMiktar], [AlanPerID], [Aciklama], [TedarikciID], [YazilimUrunID], [GirisTarihi], [StokID]) VALUES (29, NULL, NULL, 2, N'Temizlik Malzemeleri', 1, NULL, CAST(N'2019-01-06' AS Date), 4)
INSERT [dbo].[UrunGiris] ([ID], [AlinanMiktar], [KalanMiktar], [AlanPerID], [Aciklama], [TedarikciID], [YazilimUrunID], [GirisTarihi], [StokID]) VALUES (30, NULL, NULL, 2, N'Merak ettik', 2, NULL, CAST(N'2019-01-06' AS Date), 5)
SET IDENTITY_INSERT [dbo].[UrunGiris] OFF
SET IDENTITY_INSERT [dbo].[UrunStok] ON 

INSERT [dbo].[UrunStok] ([ID], [UrunID], [UrunSeriNo], [Aktif]) VALUES (1, 28, N'C', 1)
INSERT [dbo].[UrunStok] ([ID], [UrunID], [UrunSeriNo], [Aktif]) VALUES (2, 29, N'M', 1)
INSERT [dbo].[UrunStok] ([ID], [UrunID], [UrunSeriNo], [Aktif]) VALUES (3, 30, N's963', 1)
SET IDENTITY_INSERT [dbo].[UrunStok] OFF
SET IDENTITY_INSERT [dbo].[UrunTip] ON 

INSERT [dbo].[UrunTip] ([ID], [Adi], [Aciklama]) VALUES (1, N'Kırmızı', N'Kırmızı Renkli Masalar')
INSERT [dbo].[UrunTip] ([ID], [Adi], [Aciklama]) VALUES (2, N'A Tipi Switch', N'Switch Türleri')
INSERT [dbo].[UrunTip] ([ID], [Adi], [Aciklama]) VALUES (3, N'B Tipi Switch', N'Switch Türleri')
SET IDENTITY_INSERT [dbo].[UrunTip] OFF
SET IDENTITY_INSERT [dbo].[YazilimUrun] ON 

INSERT [dbo].[YazilimUrun] ([ID], [UrunID], [UrunAdi], [Aciklama], [LisansBaslangicTarihi], [LisansBitisTarihi], [KeyAdet], [UrunSeriNo], [LisansUyari], [altKategoriID], [EklenmeTarihi], [PersonelID], [TedarikciID], [Aktif], [SilenKisiID], [SilmeTarihi], [SilmeNedeni]) VALUES (7, N'BISTK201971027', N'Linux Paralı olanından', N'Lazımdı', CAST(N'2019-01-25 00:00:00.000' AS DateTime), CAST(N'2019-07-27 00:00:00.000' AS DateTime), 15, NULL, NULL, 7, CAST(N'2019-01-09' AS Date), 2, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[YazilimUrun] ([ID], [UrunID], [UrunAdi], [Aciklama], [LisansBaslangicTarihi], [LisansBitisTarihi], [KeyAdet], [UrunSeriNo], [LisansUyari], [altKategoriID], [EklenmeTarihi], [PersonelID], [TedarikciID], [Aktif], [SilenKisiID], [SilmeTarihi], [SilmeNedeni]) VALUES (8, N'BISTK201971028', N'Linux Paralı olanından', NULL, CAST(N'2019-01-25 00:00:00.000' AS DateTime), CAST(N'2019-09-20 00:00:00.000' AS DateTime), 15, NULL, NULL, 7, CAST(N'2019-01-09' AS Date), 2, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[YazilimUrun] ([ID], [UrunID], [UrunAdi], [Aciklama], [LisansBaslangicTarihi], [LisansBitisTarihi], [KeyAdet], [UrunSeriNo], [LisansUyari], [altKategoriID], [EklenmeTarihi], [PersonelID], [TedarikciID], [Aktif], [SilenKisiID], [SilmeTarihi], [SilmeNedeni]) VALUES (9, N'BISTK201971029', N'Ders anlatma Programı', NULL, CAST(N'2019-01-17 00:00:00.000' AS DateTime), CAST(N'2020-03-28 00:00:00.000' AS DateTime), 10, NULL, NULL, 7, CAST(N'2019-01-09' AS Date), 2, 2, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[YazilimUrun] OFF
ALTER TABLE [dbo].[AltKategori]  WITH CHECK ADD  CONSTRAINT [FK_AltKategori_AnaKategori] FOREIGN KEY([AnaKategorID])
REFERENCES [dbo].[AnaKategori] ([ID])
GO
ALTER TABLE [dbo].[AltKategori] CHECK CONSTRAINT [FK_AltKategori_AnaKategori]
GO
ALTER TABLE [dbo].[ArizaDurum]  WITH CHECK ADD  CONSTRAINT [FK_ArizaDurum_Personel] FOREIGN KEY([GarantiVerenKisiID])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[ArizaDurum] CHECK CONSTRAINT [FK_ArizaDurum_Personel]
GO
ALTER TABLE [dbo].[ArizaDurum]  WITH CHECK ADD  CONSTRAINT [FK_ArizaDurum_UrunStok] FOREIGN KEY([stkID])
REFERENCES [dbo].[UrunStok] ([ID])
GO
ALTER TABLE [dbo].[ArizaDurum] CHECK CONSTRAINT [FK_ArizaDurum_UrunStok]
GO
ALTER TABLE [dbo].[ArizaEskiKayitlar]  WITH CHECK ADD  CONSTRAINT [FK_ArizaEskiKayitlar_ArizaDurum1] FOREIGN KEY([ArizaDurumID])
REFERENCES [dbo].[ArizaDurum] ([ID])
GO
ALTER TABLE [dbo].[ArizaEskiKayitlar] CHECK CONSTRAINT [FK_ArizaEskiKayitlar_ArizaDurum1]
GO
ALTER TABLE [dbo].[ArizaEskiKayitlar]  WITH CHECK ADD  CONSTRAINT [FK_ArizaEskiKayitlar_Personel] FOREIGN KEY([GarantiAlanID])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[ArizaEskiKayitlar] CHECK CONSTRAINT [FK_ArizaEskiKayitlar_Personel]
GO
ALTER TABLE [dbo].[ErisimRol]  WITH CHECK ADD  CONSTRAINT [FK_ErisimRol_IslemErisim] FOREIGN KEY([ErisimID])
REFERENCES [dbo].[IslemErisim] ([ID])
GO
ALTER TABLE [dbo].[ErisimRol] CHECK CONSTRAINT [FK_ErisimRol_IslemErisim]
GO
ALTER TABLE [dbo].[ErisimRol]  WITH CHECK ADD  CONSTRAINT [FK_ErisimRol_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[ErisimRol] CHECK CONSTRAINT [FK_ErisimRol_Rol]
GO
ALTER TABLE [dbo].[KategoriRol]  WITH CHECK ADD  CONSTRAINT [FK_KategoriRol_AltKategori] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[AltKategori] ([ID])
GO
ALTER TABLE [dbo].[KategoriRol] CHECK CONSTRAINT [FK_KategoriRol_AltKategori]
GO
ALTER TABLE [dbo].[KategoriRol]  WITH CHECK ADD  CONSTRAINT [FK_KategoriRol_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[KategoriRol] CHECK CONSTRAINT [FK_KategoriRol_Rol]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Menu] FOREIGN KEY([ParentMenuID])
REFERENCES [dbo].[Menu] ([ID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Menu]
GO
ALTER TABLE [dbo].[MenuRol]  WITH CHECK ADD  CONSTRAINT [FK_MenuRol_Menu] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menu] ([ID])
GO
ALTER TABLE [dbo].[MenuRol] CHECK CONSTRAINT [FK_MenuRol_Menu]
GO
ALTER TABLE [dbo].[MenuRol]  WITH CHECK ADD  CONSTRAINT [FK_MenuRol_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[MenuRol] CHECK CONSTRAINT [FK_MenuRol_Rol]
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [FK_Personel_Rol]
GO
ALTER TABLE [dbo].[TeslimAlanPersonel]  WITH CHECK ADD  CONSTRAINT [FK_TeslimAlanPersonel_Birim] FOREIGN KEY([TeslimBirimID])
REFERENCES [dbo].[Birim] ([ID])
GO
ALTER TABLE [dbo].[TeslimAlanPersonel] CHECK CONSTRAINT [FK_TeslimAlanPersonel_Birim]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_AltKategori] FOREIGN KEY([altKategoriID])
REFERENCES [dbo].[AltKategori] ([ID])
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [FK_Urun_AltKategori]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_Personel] FOREIGN KEY([SilenKisiID])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [FK_Urun_Personel]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_UrunBirim] FOREIGN KEY([UrunBirimID])
REFERENCES [dbo].[UrunBirim] ([ID])
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [FK_Urun_UrunBirim]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_UrunTip] FOREIGN KEY([UrunTipID])
REFERENCES [dbo].[UrunTip] ([ID])
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [FK_Urun_UrunTip]
GO
ALTER TABLE [dbo].[UrunCikis]  WITH CHECK ADD  CONSTRAINT [FK_UrunCikis_Personel] FOREIGN KEY([TeslimVerenID])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[UrunCikis] CHECK CONSTRAINT [FK_UrunCikis_Personel]
GO
ALTER TABLE [dbo].[UrunCikis]  WITH CHECK ADD  CONSTRAINT [FK_UrunCikis_TeslimAlanPersonel] FOREIGN KEY([TeslimAlanKisiID])
REFERENCES [dbo].[TeslimAlanPersonel] ([ID])
GO
ALTER TABLE [dbo].[UrunCikis] CHECK CONSTRAINT [FK_UrunCikis_TeslimAlanPersonel]
GO
ALTER TABLE [dbo].[UrunCikis]  WITH CHECK ADD  CONSTRAINT [FK_UrunCikis_UrunStok] FOREIGN KEY([StokID])
REFERENCES [dbo].[UrunStok] ([ID])
GO
ALTER TABLE [dbo].[UrunCikis] CHECK CONSTRAINT [FK_UrunCikis_UrunStok]
GO
ALTER TABLE [dbo].[UrunCikis]  WITH CHECK ADD  CONSTRAINT [FK_UrunCikis_YazılımUrun1] FOREIGN KEY([YazilimUrunID])
REFERENCES [dbo].[YazilimUrun] ([ID])
GO
ALTER TABLE [dbo].[UrunCikis] CHECK CONSTRAINT [FK_UrunCikis_YazılımUrun1]
GO
ALTER TABLE [dbo].[UrunGiris]  WITH CHECK ADD  CONSTRAINT [FK_UrunGiris_Personel] FOREIGN KEY([AlanPerID])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[UrunGiris] CHECK CONSTRAINT [FK_UrunGiris_Personel]
GO
ALTER TABLE [dbo].[UrunGiris]  WITH CHECK ADD  CONSTRAINT [FK_UrunGiris_Tedarikci] FOREIGN KEY([TedarikciID])
REFERENCES [dbo].[Tedarikci] ([ID])
GO
ALTER TABLE [dbo].[UrunGiris] CHECK CONSTRAINT [FK_UrunGiris_Tedarikci]
GO
ALTER TABLE [dbo].[UrunGiris]  WITH CHECK ADD  CONSTRAINT [FK_UrunGiris_UrunStok] FOREIGN KEY([StokID])
REFERENCES [dbo].[UrunStok] ([ID])
GO
ALTER TABLE [dbo].[UrunGiris] CHECK CONSTRAINT [FK_UrunGiris_UrunStok]
GO
ALTER TABLE [dbo].[UrunGiris]  WITH CHECK ADD  CONSTRAINT [FK_UrunGiris_YazılımUrun1] FOREIGN KEY([YazilimUrunID])
REFERENCES [dbo].[YazilimUrun] ([ID])
GO
ALTER TABLE [dbo].[UrunGiris] CHECK CONSTRAINT [FK_UrunGiris_YazılımUrun1]
GO
ALTER TABLE [dbo].[UrunStok]  WITH CHECK ADD  CONSTRAINT [FK_UrunStok_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urun] ([ID])
GO
ALTER TABLE [dbo].[UrunStok] CHECK CONSTRAINT [FK_UrunStok_Urun]
GO
ALTER TABLE [dbo].[YazilimUrun]  WITH CHECK ADD  CONSTRAINT [FK_YazılımUrun_AltKategori] FOREIGN KEY([altKategoriID])
REFERENCES [dbo].[AltKategori] ([ID])
GO
ALTER TABLE [dbo].[YazilimUrun] CHECK CONSTRAINT [FK_YazılımUrun_AltKategori]
GO
ALTER TABLE [dbo].[YazilimUrun]  WITH CHECK ADD  CONSTRAINT [FK_YazılımUrun_Personel] FOREIGN KEY([SilenKisiID])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[YazilimUrun] CHECK CONSTRAINT [FK_YazılımUrun_Personel]
GO
