
@{
    ViewBag.Title = "UrunBirimDuzenle";
}


@using Inventory_Management_Web_Application.Models

@model  UrunBirim


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Şuanda @Model.Adi isimli birimi düzenliyorsunuz...
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/Tanim/UrunBirimDuzenle">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Birim Adı </label>
                        <input type="text" class="form-control" value="@Model.Adi" name="Adi">
                    </div>
                    @Html.Hidden("ID", Model.ID)
                    <button type="submit" class="btn btn-info">Kaydet</button>
                    <a href="/Tanim/TeslimBirim" class="btn btn-danger">İptal</a>
                    <button type="reset" class="btn btn-default">Temizle</button>
                </form>

            </div>
        </section>
    </div>
</div>




