
    <label for="exampleInputEmail1">Alt Kategori Seçiniz </label>&nbsp;<span style="color: red;">*</span>
    @Html.DropDownList("altKategoriID", (SelectList)ViewBag.altkategoriler, "Seçiniz...", new { @class = "form-control", required = "required" })

