<label for="exampleInputEmail1">Ürün Seri No Seçiniz </label>&nbsp;<span style="color: red;">*</span>



@Html.DropDownList("urunStokID", (SelectList)ViewBag.urunGirisler, "Seçiniz...", new { @class = "form-control", required = "required" })
