@if (ViewBag.secenekler != null)
{
    <span><label for="exampleInputEmail1">Ürün Seçenek Seçiniz </label>&nbsp;<span style="color: red;">*</span></span>
    @Html.DropDownList("UrunSecenekID", (SelectList)ViewBag.secenekler, "Seçiniz...", new { @class = "form-control", required = "required" })
}
